

.footer{
    display: flex;
    flex-wrap: nowrap;
    background-color: #e8e8e8;
    height: 10vh;
    width: 100%;
    z-index: 2000;
    position: absolute;
   
  }
  .fourSq{
    max-width: 100%;
    height: auto;
   
    padding: 0 0 0 20px; 
    
  }
  .googleLogo{
   max-width: 50px;
    height: auto;
    padding: 0 20px 0 0; 
  }
  
  .fsq, .glg{
    display: flex;
    width: 50%;
    height: auto;
  }
  
  .fsq{
    align-items: center;
    justify-content: center;
  }

  .glg{
    align-items: center;
    justify-content: flex-end;

  }

  @media screen and (min-width: 1000px) {

    .fsq{
      justify-content: flex-start;
    }
  
  }
  
  