/* Boiler plate */
.App {
  text-align: center;
  
}


.App-link {
  color: #61dafb;
}
/* nav */
.pageHeader{
  height: 80px;
  align-content: center;
  background-color:#242582;
  z-index: 900;
  /* position: sticky;  */ 
  width: 100%;
}
.pageHeader h1{
  font-size: 50px;
  margin: 0;
  color: whitesmoke;

}

#openSideBarMenu {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; 
  z-index: 1000;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.sidebarIconToggle:focus {
  outline: 3px solid black;
}


/* main container */
.container{
  /* display: grid;
  grid-template-areas: "sideBar Map";
  grid-template-columns: 30% 70%; */
 width: 100%;
 height: auto;
}


/* MAp styles */
#map {
 height: 100%;
 width: 100%;

}

.mapContainer{
  height: 100vh;
  width: 100%;
  /* grid-area: "sideBar Map"; */

}
/* info window */
.vName, .lName{
  font-size: 20px;
  font-weight: 800;

}

.vCat, .lCat{
  font-size: 18px;
  font-weight: 700;
}

.vAdd, .lAdd{
  font-size: 16px;
  font-weight: 600;
}


.footer{
  display: flex;
  flex-wrap: nowrap;
  background-color: #e8e8e8;
  height: 60px;
  width: 100%;
  z-index: 2000;
  position: absolute;
  
  
}
.fourSq{
  max-width: 60%;
  height: auto;
  padding: 20px 0 0;
}
.googleLogo{
 width: auto;
  height: 90%;
  padding: 5px 0 0 320px;
 
  

}
.fsq, .glg{
  width: 100%;
  height: auto;
  
}

.atributionImg{
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

/* sidebar stuff */

/* SideBar */
.searchCont{
  width:80%;
  height: 30px;
  position: sticky;
}
.side-bar{
  width: 0;
  height:100%;
  background-color: #2F2FA2;
  position: absolute;
  z-index: 100;
  top: 0; 
  left: 0;
  /* overflow-x: hidden; /* Disable horizontal scroll */ 
  overflow: hidden;
  padding-top: 90px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}




 
.search-results{
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.listCont{
  list-style: none;
  padding: 0%;
  width: 90%;
  padding: 10px;
  margin: auto;
}
.listItem{
  background-color:#aadaff;
  align-self: center;
  margin: 0%;
}
.listItem :hover{
  background-color: #f64c71;
  color:whitesmoke;

}
.locationCont{
  align-self: center;
  
  

}


.list-container {
  width: 100%;
  height: 90%;
  overflow-y: scroll
}



input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


