
.App {
  text-align: center;
  
}
/* nav */
.pageHeader{
  height: 10vh;
  align-content: center;
  background-color:#242582;
  z-index: 900;
  /* position: sticky;  */ 
  width: 100%;
 
}
.pageHeader h1{
  font-size: 40px;
  margin: 0;
  color: whitesmoke;
  padding:10px 0 0 60px;

}
/*  */


/* main container */
.container{
 width: 100%;
 height: auto;
}

/* Media Queries */

@media screen and (min-width: 500px) {
  .pageHeader h1 {
    font-size: 55px;
    padding: 0 0 0 60px;
  }
  .openSide{
    width: 40vw;
  }
}

@media screen and (min-width: 800px) {
  .pageHeader h1 {
    font-size: 58px;
    
  }

  .openSide{
    width: 35vw;
  }

  .googleLogo{
    width: 70px;
     height: 70px;
     
   }

   .fourSq{
    width: 421px;
  }

}

@media screen and (min-width: 1000px) {
  .sidebarIconToggle{
    visibility: hidden;
  }

  .side-bar{
    width: 30vw;
    overflow-x: hidden;
  }

}



